body {
    font-family: 'Lobster', cursive;
    font-family: 'Cabin', sans-serif;
    /* maximo de ancho en el body???? */
    /* max-width: 100rem; */
}

.navbar-brand {
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 37pt;
}

.imagen-principal {
    max-width: 100%;
}

hr {
    height: 1px;
    background-color: black;
}

.linea {
    max-width: 70rem;
}

.action-bar {
    color: white;
    height: 20rem;
    background-color: #DC3545;
    margin-top: 3rem;
}

footer {
    background-color: #373a3c;
    padding: 1rem;
}

footer p {
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 37pt;
}

@media (min-width: 576px) {
    .holi {
        padding-bottom: 3px;
        border-bottom: 1px solid #000;
    }
}

.rico {
    /*    color: white;*/
    font-family: 'Lobster', cursive;
    font-size: 30pt;
}


/* #373a3c
● #dddddd
● #000 o var(--black)
● #fff o var(--white)
● # o var(--danger)
 */