
body {
    font-family: 'Lobster', cursive;
    font-family: 'Cabin', sans-serif;
    /* maximo de ancho en el body???? */
    /* max-width: 100rem; */ 
}

.navbar-brand {
    color: white;
    font-family: 'Lobster', cursive;
 

}


.imagen-principal {
    max-width: 30rem;
}

.pizz2 {
    max-width: 30rem;
}

.action-bar {
    color: white;
    height: 20rem;
    background-color: #DC3545;
    margin-top: 3rem;
}

footer {
    background-color: #373a3c;
    padding: 1rem;
}

footer p {
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 37pt;

}


/* #373a3c
● #dddddd
● #000 o var(--black)
● #fff o var(--white)
● # o var(--danger)
 */